body {
    font-family: 'Fira Sans', sans-serif;
    background-color: rgb(196, 163, 129, 0.6);
    height: 100vh;
}

h1 {
    font-family: 'Playfair Display', sans-serif;
    color: rgb(238, 241, 189)
}

h2,
h3 {
    font-weight: 700;
    margin: 20px auto;
}

p {
    font-weight: 700;
}

/* Navigation Bar */
nav {
    background-color: rgb(100, 69, 54);
}

.nav-options {
    flex-direction: row;
    justify-content: end;
}

.nav-btn {
    color: rgb(238, 241, 189);
    font-weight: 400;
}

.hamburger {
    background-color: rgb(196, 163, 129)
}


/* Index page */
.hero-container {
    padding: 40px 20px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    font-size: 36px;
    font-weight: 700;
    background-color: rgb(238, 241, 189, 0.4);
}

.hero-image {
    background-image: url('https://res.cloudinary.com/dnisemsbn/image/upload/q_38/v1684022232/background-food_vfebbs.jpg');
    background-size: cover;
}

.btn-background {
    background-color: rgb(196, 163, 129);
    border-color: rgb(100, 69, 54);
    border-radius: 4px;
    border-width: 2px;
    font-weight: 600;
}

/* Recipe  */
.recipe-section {
    margin: 20px auto;
}

.row {
    margin: 20px auto;
}

.card-space {
    margin-bottom: 20px;
}

.image-container {
    margin: 20px auto;
    height: 200px;
}

.img {
    height: inherit;
}

.card-body {
    background-color: rgb(190, 212, 146);
    color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card-img {
    height: inherit;
}

.card-text {
    overflow: hidden;
}

.post-btn {
    background-color: rgb(178, 103, 94, 0.8);
    border-color: rgb(178, 103, 94);
    border-radius: 4px;
    border-width: 2px;
    font-weight: 600;
    margin: 10px auto;
}

/* view recipe */
.view-img {
    border-radius: 4px;
    height: auto;
    display: flex;
    align-items: center;
    margin: 20px auto;
}

.recipe-page {
    background-color: rgb(196, 163, 129, 0.7);
    border-radius: 5px;
}

.content {
    background-color: rgb(246, 241, 209, 0.5);
    height: inherit;
}

.comment-box {
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(246, 241, 209, 0.7);
    height: 450px;
    overflow-y: scroll;
}

.post-comment {
    margin: 20px auto;
    height: auto;
}

.like-comments {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.back-btn {
    display: flex;
    justify-content: center;
    margin: 20px;
}

/* account templates */
.auth-box {
    display: flex;
    justify-content: center;
    text-align: center;
}

.auth-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 20px;
    width: 50%;
}

/* Create Recipe */
.create-post {
    margin: 20px auto;
}

.recipe-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Thank you message */
.thanks {
    width: 50%;
    padding: 10px;
    margin: 60px auto;
    border: solid 2px;
    border-radius: 5px;
    background-color:rgb(190, 212, 146);
}

/* Footer */
footer {
    background-color: rgb(100, 69, 54);
    color: rgb(238, 241, 189)
}


/* for medium screen sizes from 750px and below */
@media screen and (max-width: 775px) {
    .card-body{
        width: 60%;
        margin: auto auto;
    }

    .image-container {
        margin: 20px 0;
    }
}

@media screen and (max-width: 510px) {
    .card-body{
        width: auto;
    }
}