{% extends "base.html" %} {% block content %}

<!-- Cloudinary -->
{% load cloudinary %}

<!-- Crispy Forms -->
{% load crispy_forms_tags %}

<div class="col-md-12 hero-image hero-container">
    <section class="text-center">
        <h2 class="hero-text">Create your Own Recipe Now!</h2>
        <hr class="block-divider">
        <p class="lead">
            <strong><mark>Finish Your Drafts or Create New Post</mark></strong></p>
        <div class="hero-options">
            <a class="nav-link btn btn-background" href="{% url 'user_recipes' %}">View your Recipes</a>
        </div>
    </section>
</div>

<div class="container justify-content-around">
    <div class="create-post" id="recipe-form">
        <form method="POST" enctype="multipart/form-data">
            <h2 class="text-center">Edit Your Recipe</h2>
            <div class="text-center">
                {% csrf_token %}
                <p class="recipe-form">Title: {{ form.title }}</p>
                <p class="recipe-form">Excerpt: {{ form.excerpt }}</p>
                <div>
                    <p>Upload an image: {{ form.featured_image }}</p>
                </div>
                <div class="row main-info">
                    <div class="col-md-6 col-width">
                        <p>Ingredients:</p>
                        {{ form.ingredients }}
                    </div>
                    <div class="col-md-6 col-width">
                        <p>Directions:</p>
                        {{ form.direction }}
                    </div>
                </div>
                <div>
                    <div>
                        <p> Servings: {{ form.servings }}</p>
                    </div>
                    <div>
                        <p>Category: {{ form.category }}</p>
                    </div>
                    <div>
                        {{ form.author }}
                    </div>
                    <div>
                        <p>Status: {{ form.status }}</p>
                    </div>
                </div>
                <button id="submit-recipe" class="btn post-btn" type="submit">Share</button>
            </div>
        </form>
    </div>
</div>
<div class="container text-center">
    <div id="thank-you" style="display: none;">
        <div class="thanks">
            <h2 class="card-title">Thankyou for sharing that amazing recipe!</h2>
            <div class="image-container">
                <img class="card-img-top card-img"
                    src="https://res.cloudinary.com/dnisemsbn/image/upload/v1685371870/happy-food_stlv2v.jpg"
                    alt="happy dog image printed on a toast">
            </div>
            <p>
                <muted>You will be redirected to your recipe page in few minutes</muted>
            </p>
        </div>
    </div>
</div>

<script>
    var author = '{{ user.username }}';
    document.getElementById("username").placeholder = author;
</script>
{% endblock %}