{% extends "base.html" %}

{% block content %}

<div class="col-md-12 hero-image hero-container">
    <section class="text-center">
        <h2 class="hero-text">Check out the latest most delicious recipes today!</h2>
        <hr class="block-divider">
        {% if user.is_authenticated %}
        <p class="lead">
            <strong><mark>Share your own Recipes Now!</mark></strong></p>
        <div class="hero-options">
            <a class="nav-link btn btn-background" href="{% url 'user_recipes' %}">View your Recipes</a>
            <a class="nav-link btn btn-background" href="{% url 'share_recipe' %}">Create New Recipe</a>
        </div>
        {% else %}
        <p class="lead">
            <strong><mark>Sign Up Now to share your own Recipes!</mark></strong></p>
        <div class="hero-options">
            <a class="nav-link btn btn-background" href="{% url 'account_signup' %}">Sign Up</a>
            <a class="nav-link btn btn-background" href="{% url 'account_login' %}">Login</a>
        </div>
        {% endif %}
    </section>
</div>

<div class="container-fluid recipe-section">
    <div class="text-center">
        <h2>Recipes</h2>
        <p>View all the shared recipes by people!</p>
    </div>

    <!-- Recipe Card -->
    <div class="justify-content-around">
        <div class="col-12">
            <!-- recipe post -->
            <div class="row">
                {% for post in recipe_list %}
                <div class="card-space col-md-4">
                    <div class="card card-body">
                        <div class="text-center">
                            <h3 class="card-title">{{ post.title }}</h3>
                        </div>
                        <div class="image-container">
                            {% if "placeholder" in post.featured_image.url %}
                            <img class="card-img-top card-img"
                                src="https://res.cloudinary.com/dnisemsbn/image/upload/v1684097187/all-food_pua55k.jpg"
                                alt="image of ingredients">
                            {% else %}
                            <img class="card-img-top card-img" src=" {{ post.featured_image.url }}"
                                alt="Pictures of prepared food dishes">
                            {% endif %}
                        </div>
                        <div class="text-center">
                            <p class="card-text">{{ post.excerpt }}</p>
                        </div>
                        <div class="text-center card-body">
                            <a href="{% url 'view_recipe' post.slug %}" class="btn post-btn">View Full Recipe</a>
                        </div>
                        <div class="card-body">
                            <div class="text-center">
                                <p><i class="far fa-heart"></i> {{ post.number_of_likes }}</p>
                                {% if user.is_authenticated %}
                                <p>Like this post to show your appreciation and save it in your collections</p>
                                {% else %}
                                <p>Sign up or Login now to like this recipe and save it it in your collection!</p>
                                {% endif %}
                            </div>
                            <hr>
                            <p class="card-text text-muted h5 text-center">{{ post.created_on}}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <div>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="nav-link btn btn-background">&laquo; PREV
                </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="nav-link btn btn-background">
                    NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
</div>

{% endblock %}