{% extends "base.html" %}

{% block content %}

<div class="col-md-12 hero-image hero-container">
    <section class="text-center">
        <h2 class="hero-text">Check out the latest most delicious recipes today!</h2>
        <hr class="block-divider">
        <p class="lead">
            <strong><mark>Sign Up Now to share your own Recipes!</mark></strong></p>
        <button class="btn btn-background" data-toggle="modal" data-target="#signUpModal">Sign Up</button>
        <button class="btn btn-background" data-toggle="modal" data-target="#loginModal">Login</button>
    </section>
</div>

<div class="container-fluid recipe-section">
    <h2>Recipes</h2>

    <!-- Recipe Card -->
    <div class="row justify-content-around">
        <div class="col-12">
            <!-- recipe post -->
            <div class="row">
                {% for post in recipe_list %}
                <div class="col-md-4">
                    <div class="card card-body">
                        <div class="image-container">
                            {% if "placeholder" in post.featured_image.url %}
                            <img class="card-img-top"
                                src="https://res.cloudinary.com/dnisemsbn/image/upload/v1684097187/all-food_pua55k.jpg"
                                alt="image of ingredients">
                            {% else %}
                            <img class="card-img-top" src=" {{ post.featured_image.url }}"
                                alt="Pictures of prepared food dishes">
                            {% endif %}
                        </div>
                        <div class="card-body text-center">
                            <h3 class="card-title">{{ post.title }}</h3>
                            <p class="card-text">{{ post.excerpt }}</p>
                            <a href="{% url 'view_recipe' post.slug %}" class="btn post-btn">View Full Recipe</a>
                        </div>
                        <div class="card-body">
                            <div class="text-center">
                                <p><i class="far fa-heart"></i> {{ post.number_of_likes }}</p>
                                {% if user.is_authenticated %}
                                <p>Like this post to show your appreciation and save it in your collections</p>
                                {% else %}
                                <p>Sign up or Login now to like this recipe and savit it in your collection!</p>
                                {% endif %}
                            </div>
                            <hr />
                            <p class="card-text text-muted h5 text-center">{{ post.created_on}}</p>
                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}