{% extends "base.html" %} {% block content %}

<!-- Cloudinary -->
{% load cloudinary %}

<!-- Crispy Forms -->
{% load crispy_forms_tags %}

<div class="col-md-12 hero-image hero-container">
    <section class="text-center">
        <h2 class="hero-text">Share your Own Recipe Now!</h2>
        <hr class="block-divider">
        <p class="lead">
            <strong><mark>Finish Your Drafts or Create New Post</mark></strong></p>
        <button class="btn btn-background" data-toggle="modal" data-target="#signUpModal">Create New Recipe
            Post</button>
        <button class="btn btn-background" data-toggle="modal" data-target="#loginModal">Finish Draft and Share</button>
    </section>
</div>

<div class="container justify-content-around">
    <div class="create-post">
        <form method="POST">
            <div class="text-center">
                {% csrf_token %}
                <p class="recipe-form">Title: {{ form.title }}</p>
                <p class="recipe-form">Excerpt: {{ form.excerpt }}</p>
                <div>{{ form.featured_image }}</div>
                <div>{{ form.image_1 }}</div>
                <div class="row main-info">
                    <div class="col-md-6 col-width">
                        <p>Ingredients:</p>
                        <div>{{ form.ingredients }}</div>
                    </div>
                    <div class="col-md-6 col-width">
                        <p>Directions:</p>
                        {{ form.direction}}
                    </div>
                </div>
                <div>
                    <div>
                        <p> Servings: {{ form.servings }}</p>
                    </div>
                    <div>
                        <p>Category: {{ form.category }}</p>
                    </div>
                    <div>
                        <p>Author: {{ form.author }}</p>
                    </div>
                    <div>
                        <p >Status: {{ form.status }}</p>
                    </div>
                </div>
                <button class="btn post-btn">Share</button>
            </div>
        </form>
    </div>
</div>

{% if posted is True %}

<!-- Form Successfully Posted Notification -->
<div>

    <!-- Title -->
    <h2>Thank you for sharing your recipe!</h2>

    <!-- Paragraph -->
    <p>Your recipe has been successfully submitted</p>

    <!-- Paragraph -->
    <p>Would you like to return to the home page or post another recipe?</p>

    <!-- Post Recipe Link -->
    <a href="{% url 'share_recipe' %}">Post another recipe!</a>

    <!-- Home Link -->
    <a href="{% url 'home' %}">Take me back home!</a>

</div>
{% endif %}

{% endblock %}