{% extends "base.html" %} {% block content %}

<!-- Cloudinary -->
{% load cloudinary %}

<!-- Crispy Forms -->
{% load crispy_forms_tags %}

<div class="col-md-12 hero-image hero-container">
    <section class="text-center">
        <h2 class="hero-text">Your Recipe List</h2>
        <hr class="block-divider">
        <p class="lead">
            <strong><mark>View all the Delicious Recipes shared by You!</mark></strong></p>
        <div class="hero-options">
            <a class="nav-link btn btn-background" href="{% url 'share_recipe' %}">Create New Recipe</a>
            <a class="nav-link btn btn-background" href="{% url 'saved' %}">View liked Recipes</a>
        </div>
    </section>
</div>

<div class=" recipe-section">
    <h2 class="text-center">Your Recipe List</h2>

    <div>
        <h3>Your published recipes: </h3>
        <div class="row card-size">
            {% for recipe in your_recipes %}
            {% if recipe.status == 1 %}
            {% if user.id == recipe.author.id %}
            <div class="card-space col-md-3">
                <div class="card card-body">
                    <h3 class="card-title">{{ recipe.title }}</h3>
                    <p>{{ recipe.created_on }}</p>
                    <div class="image-container">
                        {% if "placeholder" in recipe.featured_image.url %}
                        <img class="card-img"
                            src="https://res.cloudinary.com/dnisemsbn/image/upload/v1684097187/all-food_pua55k.jpg"
                            alt="image of ingredients">
                        {% else %}
                        <img class="card-img" src=" {{ recipe.featured_image.url }}"
                            alt="Pictures of prepared food dishes">
                        {% endif %}
                    </div>
                    <div class="text-center">
                        <p>{{ recipe.excerpt }}</p>
                    </div>
                    <div class="text-center card-body">
                        <a href="{% url 'view_recipe' recipe.slug %}" class="btn post-btn">View Full Recipe</a>
                    </div>
                    <div>
                        <!-- edit recipe button -->
                        <a href="{% url 'edit_recipe' recipe.slug %}" class="btn post-btn"><i
                                class="fas fa-edit"></i></a>
                        <!-- delete recipe button -->
                        <a href="#" class="btn post-btn" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop1">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                    <!-- display a confimation message -->
                    <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title" id="staticBackdropLabel">Delete Recipe</h2>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you would like to delete {{ recipe.title }} recipe?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <a class="nav-link btn btn-background btn-danger"
                                        href="{% url 'delete_recipe' recipe.id %}">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:20 %}
        </div>
        <div class="row card-size">
            {% endif %}
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div>
        <h3>Your draft recipes: </h3>
        <div class="row card-size">
            {% for recipe in your_recipes %}
            {% if recipe.status == 0 %}
            {% if user.id == recipe.author.id %}
            <div class="card-space col-md-3">
                <div class="card card-body">
                    <h3 class="card-title">{{ recipe.title }}</h3>
                    <p>{{ recipe.created_on }}</p>
                    <div class="image-container">
                        {% if "placeholder" in recipe.featured_image.url %}
                        <img class="card-img"
                            src="https://res.cloudinary.com/dnisemsbn/image/upload/v1684097187/all-food_pua55k.jpg"
                            alt="image of ingredients">
                        {% else %}
                        <img class="card-img" src=" {{ recipe.featured_image.url }}"
                            alt="Pictures of prepared food dishes">
                        {% endif %}
                    </div>
                    <div class="text-center">
                        <p>{{ recipe.excerpt }}</p>
                    </div>
                    <div>
                        <!-- edit recipe -->
                        <a href="{% url 'edit_recipe' recipe.slug %}" class="btn post-btn"><i
                                class="fas fa-edit"></i></a>
                        <!-- delete recipe button -->
                        <a href="#" type="button" class="btn post-btn" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop2">
                            <i class="fas fa-trash"></i>
                        </a>
                        <!-- display a confimation message -->
                        <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2 class="modal-title" id="staticBackdropLabel">Delete Recipe</h2>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you would like to delete {{ recipe.title }} recipe?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <a class="nav-link btn btn-background btn-danger"
                                            href="{% url 'delete_recipe' recipe.id %}">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:20 %}
        </div>
        <div class="row row-md-12 card-size">
            {% endif %}
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
</div>

{% endblock %}