{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<style>
    body {
        background-image: url('https://res.cloudinary.com/dnisemsbn/image/upload/q_38/v1684022232/background-food_vfebbs.jpg');
        background-size: cover;
    }
</style>

<div class="container">
    <div class="row justify-content-around">
        <div class="col-md-4 recipe-title">
            <div class="text-center">
                <h2 class="hero-text">{{ recipe.title }}</h2>
                <hr class="block-divider">
                <p>{{ recipe.author }} | {{ recipe.created_on}}</p>
                <p>{{ recipe.excerpt }}</p>
            </div>
            <div>
                <div class="like-comments">
                    <div><strong><i class="far fa-heart"></i> {{ recipe.number_of_likes }}</strong></div>
                    {% with comments.count as total_comments %}
                    <div><strong><i class="far fa-comments"></i> {{ total_comments }}</strong></div>
                    {% endwith %}
                </div>
                <p>Like this post to save it you favourite recipes now!</p>
            </div>
        </div>

        <div class="col-md-4 view-img">
            {% if "placeholder" in recipe.featured_image.url %}
            <img src="https://res.cloudinary.com/dnisemsbn/image/upload/v1684097187/all-food_pua55k.jpg" width="100%">
            {% else %}
            <img src=" {{ recipe.featured_image.url }}" width="100%">
            {% endif %}
        </div>
    </div>

    <div class="row justify-content-around">
        <div class="col-md-4">
            <h4>
                Ingredients:
            </h4>
            <p>{{ recipe.ingredients }}</p>
        </div>
        <div class="col-md-4">
            <h3>Method:</h3>
            <p>{{ recipe.direction }}</p>
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <h3>Comments:</h3>
                {% for comment in comments %}
                <div>
                    <strong>{{ comment.name }}</strong>
                    <p>{{ comment.body }}</p>
                    <span class="text-muted">{{ comment.created_on}}</span>
                    <hr>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <!-- For later -->
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}